USE [QLNV(DoAn)]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/15/2020 11:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[User] [varchar](50) NOT NULL,
	[Pass] [varchar](50) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BoPhan]    Script Date: 7/15/2020 11:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BoPhan](
	[MaBoPhan] [varchar](50) NOT NULL,
	[TenBoPhan] [ntext] NULL,
 CONSTRAINT [PK_BoPhan] PRIMARY KEY CLUSTERED 
(
	[MaBoPhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChamCon]    Script Date: 7/15/2020 11:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChamCon](
	[MaNV] [varchar](50) NOT NULL,
	[MaLuong] [varchar](50) NULL,
	[SoNgayNghi] [char](20) NULL,
	[SoNgayTangCa] [char](20) NULL,
	[TamUng] [char](20) NULL,
	[ViPham] [char](20) NULL,
	[Thuong] [char](20) NULL,
 CONSTRAINT [PK_ChamCong_1] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 7/15/2020 11:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChamCong](
	[MaNV] [varchar](50) NOT NULL,
	[MaLuong] [varchar](50) NULL,
	[SoNgayNghi] [ntext] NULL,
	[SoNgayTangCa] [ntext] NULL,
	[TamUng] [ntext] NULL,
	[ViPham] [ntext] NULL,
	[Thuong] [ntext] NULL,
 CONSTRAINT [PK_ChamCong] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 7/15/2020 11:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaChucVu] [varchar](50) NOT NULL,
	[TenChucVu] [ntext] NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[MaChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GiaiDoan]    Script Date: 7/15/2020 11:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GiaiDoan](
	[MaGiaiDoan] [varchar](50) NOT NULL,
	[TenGiaiDoan] [ntext] NULL,
 CONSTRAINT [PK_GiaiDoan] PRIMARY KEY CLUSTERED 
(
	[MaGiaiDoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LuongNV]    Script Date: 7/15/2020 11:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LuongNV](
	[MaLuong] [varchar](50) NOT NULL,
	[MaBoPhan] [varchar](50) NULL,
	[MaGiaiDoan] [varchar](50) NULL,
	[Luong] [float] NULL,
 CONSTRAINT [PK_LuongNV] PRIMARY KEY CLUSTERED 
(
	[MaLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 7/15/2020 11:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](50) NOT NULL,
	[TenNV] [ntext] NULL,
	[NgaySinh] [datetime] NULL,
	[SoDienThoai] [nchar](10) NULL,
	[MaChucVu] [varchar](50) NULL,
	[MaBoPhan] [varchar](50) NULL,
	[MaGiaiDoan] [varchar](50) NULL,
	[GioiTinh] [nchar](10) NULL,
	[NgayNhanViec] [datetime] NULL,
	[DanToc] [ntext] NULL,
	[QuocTich] [ntext] NULL,
	[TonGiao] [ntext] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Account] ([User], [Pass]) VALUES (N'admin', N'admin')
INSERT [dbo].[BoPhan] ([MaBoPhan], [TenBoPhan]) VALUES (N'BP0', N'Tất cả')
INSERT [dbo].[BoPhan] ([MaBoPhan], [TenBoPhan]) VALUES (N'BP1', N'Thu ngân')
INSERT [dbo].[BoPhan] ([MaBoPhan], [TenBoPhan]) VALUES (N'BP2', N'Vệ sinh')
INSERT [dbo].[ChamCon] ([MaNV], [MaLuong], [SoNgayNghi], [SoNgayTangCa], [TamUng], [ViPham], [Thuong]) VALUES (N'NV1', N'L14', N'0                   ', N'0                   ', N'0                   ', N'0                   ', N'0                   ')
INSERT [dbo].[ChamCon] ([MaNV], [MaLuong], [SoNgayNghi], [SoNgayTangCa], [TamUng], [ViPham], [Thuong]) VALUES (N'NV2', N'L2', N'0                   ', N'0                   ', N'0                   ', N'0                   ', N'0                   ')
INSERT [dbo].[ChamCon] ([MaNV], [MaLuong], [SoNgayNghi], [SoNgayTangCa], [TamUng], [ViPham], [Thuong]) VALUES (N'NV3', N'L1', N'0                   ', N'0                   ', N'0                   ', N'0                   ', N'0                   ')
INSERT [dbo].[ChamCong] ([MaNV], [MaLuong], [SoNgayNghi], [SoNgayTangCa], [TamUng], [ViPham], [Thuong]) VALUES (N'NV1', N'L14', N'2', N'2', N'0', N'0', N'0')
INSERT [dbo].[ChamCong] ([MaNV], [MaLuong], [SoNgayNghi], [SoNgayTangCa], [TamUng], [ViPham], [Thuong]) VALUES (N'NV2', N'L2', N'0', N'0', N'0', N'0', N'500000')
INSERT [dbo].[ChamCong] ([MaNV], [MaLuong], [SoNgayNghi], [SoNgayTangCa], [TamUng], [ViPham], [Thuong]) VALUES (N'NV3', N'L1', N'0', N'0', N'0', N'0', N'0')
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (N'CV1', N'Quản lí')
INSERT [dbo].[ChucVu] ([MaChucVu], [TenChucVu]) VALUES (N'CV2', N'Nhân viên')
INSERT [dbo].[GiaiDoan] ([MaGiaiDoan], [TenGiaiDoan]) VALUES (N'GD1', N'Thử việc')
INSERT [dbo].[GiaiDoan] ([MaGiaiDoan], [TenGiaiDoan]) VALUES (N'GD2', N'Thực tập')
INSERT [dbo].[GiaiDoan] ([MaGiaiDoan], [TenGiaiDoan]) VALUES (N'GD3', N'Chính thức')
INSERT [dbo].[LuongNV] ([MaLuong], [MaBoPhan], [MaGiaiDoan], [Luong]) VALUES (N'L1', N'BP1', N'GD3', 6000000)
INSERT [dbo].[LuongNV] ([MaLuong], [MaBoPhan], [MaGiaiDoan], [Luong]) VALUES (N'L10', N'BP4', N'GD1', 2000000)
INSERT [dbo].[LuongNV] ([MaLuong], [MaBoPhan], [MaGiaiDoan], [Luong]) VALUES (N'L11', N'BP5', N'GD3', 6000000)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [SoDienThoai], [MaChucVu], [MaBoPhan], [MaGiaiDoan], [GioiTinh], [NgayNhanViec], [DanToc], [QuocTich], [TonGiao]) VALUES (N'NV1', N'Trần Quốc Đại', CAST(N'2000-03-03 00:00:00.000' AS DateTime), N'0777973833', N'CV1', N'BP6', N'GD3', N'Nam       ', CAST(N'2020-07-13 00:00:00.000' AS DateTime), N'Kinh', N'Việt Nam', N'Không')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [SoDienThoai], [MaChucVu], [MaBoPhan], [MaGiaiDoan], [GioiTinh], [NgayNhanViec], [DanToc], [QuocTich], [TonGiao]) VALUES (N'NV2', N'Lê Hoàng Nam', CAST(N'2000-01-01 00:00:00.000' AS DateTime), N'0112233445', N'CV2', N'BP1', N'GD1', N'Nam       ', CAST(N'2020-07-14 00:00:00.000' AS DateTime), N'Kinh', N'Việt Nam', N'Phật Giáo')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [NgaySinh], [SoDienThoai], [MaChucVu], [MaBoPhan], [MaGiaiDoan], [GioiTinh], [NgayNhanViec], [DanToc], [QuocTich], [TonGiao]) VALUES (N'NV3', N'Cao Hữu Tài', CAST(N'2000-02-02 00:00:00.000' AS DateTime), N'0223344556', N'CV2', N'BP1', N'GD3', N'Nam       ', CAST(N'2020-07-14 00:00:00.000' AS DateTime), N'Kinh', N'Việt Nam', N'Thiên Chúa Giáo')
ALTER TABLE [dbo].[ChamCon]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_LuongNV] FOREIGN KEY([MaLuong])
REFERENCES [dbo].[LuongNV] ([MaLuong])
GO
ALTER TABLE [dbo].[ChamCon] CHECK CONSTRAINT [FK_ChamCong_LuongNV]
GO
ALTER TABLE [dbo].[ChamCon]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChamCon] CHECK CONSTRAINT [FK_ChamCong_NhanVien]
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_LuongNV1] FOREIGN KEY([MaLuong])
REFERENCES [dbo].[LuongNV] ([MaLuong])
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK_ChamCong_LuongNV1]
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD  CONSTRAINT [FK_ChamCong_NhanVien1] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChamCong] CHECK CONSTRAINT [FK_ChamCong_NhanVien1]
GO
ALTER TABLE [dbo].[LuongNV]  WITH CHECK ADD  CONSTRAINT [FK_LuongNV_BoPhan] FOREIGN KEY([MaBoPhan])
REFERENCES [dbo].[BoPhan] ([MaBoPhan])
GO
ALTER TABLE [dbo].[LuongNV] CHECK CONSTRAINT [FK_LuongNV_BoPhan]
GO
ALTER TABLE [dbo].[LuongNV]  WITH CHECK ADD  CONSTRAINT [FK_LuongNV_GiaiDoan] FOREIGN KEY([MaGiaiDoan])
REFERENCES [dbo].[GiaiDoan] ([MaGiaiDoan])
GO
ALTER TABLE [dbo].[LuongNV] CHECK CONSTRAINT [FK_LuongNV_GiaiDoan]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_BoPhan] FOREIGN KEY([MaBoPhan])
REFERENCES [dbo].[BoPhan] ([MaBoPhan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_BoPhan]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([MaChucVu])
REFERENCES [dbo].[ChucVu] ([MaChucVu])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_GiaiDoan] FOREIGN KEY([MaGiaiDoan])
REFERENCES [dbo].[GiaiDoan] ([MaGiaiDoan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_GiaiDoan]
GO
